@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions>? requestLocalizationOptions

@{

	var supportedUICultures =
			requestLocalizationOptions?.Value.SupportedUICultures;

	if (supportedUICultures == null ||
		supportedUICultures.Count <= 1 ||
		requestLocalizationOptions == null ||
		requestLocalizationOptions.Value == null
		)
	{
		return;
	}

	var currentCultureName =
		System.Threading.Thread
		.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<span class="d-flex">
	@foreach (var item in supportedUICultures!)
	{
		var country = item.Name[3..].ToLower();
		var language = item.NativeName[..(item.NativeName.IndexOf('(') - 1)];

		<a href="/ChangeCulture/@(item.Name)" class="nav-link text-dark">
			@(language)
			<span class="fi fi-@(country)"></span>
		</a>
	}
</span>
